<div class="profile-page">
    <div class="user-info">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-10 offset-md-1">
            <img src={{profile.image}} class="user-img" />
            <h4>{{profile.username}}</h4>
            <p>
              {{profile.bio}}
            </p>
            <button *ngIf="!profile.following" class="btn btn-sm btn-outline-secondary action-btn" (click)="followUser()">
              <i class="ion-plus-round"></i>
              &nbsp; Follow {{profile.username}}
            </button>
            <button *ngIf="profile.following" class="btn btn-sm btn-outline-secondary action-btn" (click)="unfollowUser()">
              <i class="ion-minus-round"></i>
              &nbsp; Unfollow {{profile.username}}
            </button>
            <button *ngIf="isCurrentUser()" (click)="navigateToSettings()" class="btn btn-sm btn-outline-secondary action-btn">
              <i class="ion-gear-a"></i>
              &nbsp; Edit Profile Settings
            </button>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">
          <div class="articles-toggle">
            <ul class="nav nav-pills outline-active">
              <li class="nav-item">
                <a class="nav-link active" href="">My Articles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">Favorited Articles</a>
              </li>
            </ul>
          </div>
  
          <app-article *ngFor="let article of articles" [article]="article"></app-article>
  
          <app-pagination [currentPage]="currentPage" (pageChanged)="onPageChange($event)" [totalItems]="totalArticles"></app-pagination>
        </div>
      </div>
    </div>
  </div>